* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

main {
    color: #a1b1bc;
    font-size: 1rem;
    font-family: 'Lato', 'Arial', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: [full-start] minmax(1em, 1fr) [main-start] minmax(0, 80em) [main-end] minmax(1em, 1fr) [full-end];
}

.grid-in-wrapper{
    grid-column: 2/3;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header, .amazing, .brands, .maps, .stronger, .thefox, .fivecolumns, footer {
    grid-column: 1/4;
}

.amazing, .why, .what, .design, .thefox {
    padding: 100px 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    line-height: 50px;
    margin: 0px
}

h1 {
    font-size: 3.571rem;
    font-weight: 900;
    padding-bottom: 18px;
    color: #1a1c27;
}

h2 {
    font-size: 2.571rem;
    color: #2c3e50;
    font-weight: 300;
}

h3 {
    color: #2c3e50;
    line-height: 24px;
    font-weight: 700;
}

h4 {
    color: #fff;
    line-height: 24px;
    font-weight: 900;
}

h5 {
    font-size: 1.285rem;
    color: #2c3e50;
    line-height: 24px;
    font-weight: 900;
}

p {
    font-weight: 400;
    line-height: 24px;
}

ul {
    list-style: none;
}

.btn {
    color: #ffffff;
    background-color: #1a1c27;
    padding: 15px 55px;
    border-radius: 2px;
    font-weight: 900;
}

.btn:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #21c2f8;
}

.btn-detail {
    padding: 20px 26px;
    background-color: #a1b1bc;
    color: #fff;
    box-shadow: 1px 3px 0px 0px #81919b;
}

.btn-detail:hover {
    padding: 20px 26px;
    background-color: #1a1c27;
    color: #fff;
    box-shadow: 0px 0px 0px 0px transparent;
}

nav, .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    padding: 30px 0;
}

.menu {
    width: 100%;
    margin: 0px;
}

.menu a {
    color: rgb(84, 98, 113);
    padding-top: 35px;
}

.menu a:hover {
    color: rgb(28, 188, 156);
    border-top: 5px solid rgb(28, 188, 156);
    text-decoration: none;
}

.menu .menu-search:hover, .menu .menu-cart:hover {
    color: black;
    border: none;
}

.menu a img {
    width: 25px;
}

.header {
    background-image: url("../img/header_background.jpg");
    background-size: cover;
    border-top: 1px solid rgb(145, 159, 169);
    padding: 235px 0 20px 0;
}

.arrow-left, .arrow-right {
    display: grid;
    align-items: center;
    justify-content: center;
}

.arrow-left {
    grid-column: 1/2;
}

.arrow-right {
    grid-column: 3/4;
}

.arrows a {
    border: 1px solid #fff;
    padding: 20px 25px;
    background-color: transparent;
}

.arrows a:hover {
    border: 1px solid transparent;
    color: #fff;
    background-color: #222536;
}

.slider-pagination {
    display: flex;
    justify-content: center;
    margin-top: 240px;
}

.slider-pagination div {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: white;
    margin: 0 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.slider-pagination div:hover {
    border-radius: 50%;
    background-color: #2c3e50;
    box-shadow: inset 0 0 0 1px white;
}

.header-letters {
    color: #222533;
}

.preslogan {
    font-size: 1.857rem;
    letter-spacing: 2.2px;
    margin: 0px;
}

.med-bar {
    width: 270px;
    height: 4px;
    background-color: #1a1c27;
}

.med-bar span {
    position: absolute;
    background-color: #21c2f8;
    width: 100px;
    height: 4px;
}

.header-list {
    font-size: 1.714rem;
    font-weight: 700;
    line-height: 50px;
    margin: 0;
    margin-bottom: 30px;
    padding: 28px 0 0 0;
    color: #1a1c27;
}

.header-list li svg {
    margin-right: 20px;
    padding: 8px;
    border: 1px solid rgb(84, 98, 113);
    border-radius: 50%
}

.header-list li svg:hover {
    color: rgb(28, 188, 156);
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.hello {
    padding: 198px 0 130px 0;
}

.hello h2 {
    padding-bottom: 30px;
}

.hello h3 {
    font-size: 1.071rem;
    cursor: pointer;
    padding-bottom: 20px;
}

.hello .hello-welcome {
    padding-bottom: 30px;
}

.hello .hello-lorem {
    padding-bottom: 25px;
}

.menu-dropdown li {
    line-height: 180%;
    padding: 5px 20px;
    border: 1px solid #eceef0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.menu-dropdown label {
    margin: 0px,
}

.menu-dropdown .drop-container.interior {
    padding-top: 20px;
    width: 100%;
    border-top: 1px solid #eceef0;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    box-sizing: border-box;
}

.drop-container ul {
    text-align: justify;
}

.menu-dropdown .drop-image {
    border: 1px solid #eceef0;
    padding: 49px;
}

.menu-dropdown input[name="list"] {
    position: absolute;
    left: -1000em;
}

.menu-dropdown .drop-container.interior {
    display: none;
}

.menu-dropdown input:checked~.drop-container.interior {
    display: flex;
}

.amazing {
    background-color: rgba(236, 240, 241, 0.3);
    text-align: center;
}

.amazing h2 {
    padding-bottom: 42px;
}

.separation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.separation p {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    color: #2c3e50;
    padding: 20px;
    font-weight: 700;
    margin: 0;
}

.amazing a {
    margin-left: 10px;
    color: #2c3e50;
}

.amazing a:hover {
    color: #d8043dab
}

.album {
    cursor: pointer;
    background-color: #a1b1bc;
    height: 200px;
}

.separation div:hover .album {
    background-color: #222533;
}

.separation div:hover p {
    background-color: #a1b1bc;
    color: #ffffff;
}

.why h2 {
    margin-bottom: 24px;
}

.why-text>p {
    margin-bottom: 30px;
}

.why-text p:nth-child(3) {
    margin-bottom: 60px;
}

.fivecolumns {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

.stats-darkgreen {
    background-color: rgb(32, 202, 168);
}

.stats-lightgreen {
    background-color: rgb(26, 213, 176);
}

.stats a {
    padding: 70px 0px;
    color: #fff;
}

.stats a:hover {
    padding: 70px 0px;
    background-color: #2c3e50;
}

.stats h4 {
    font-weight: 300;
    font-size: 2.142rem;
}

.stats p {
    font-weight: 900;
}

.what {
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 35px 0;
}

.pagination a {
    color: #a1b1bc;
    padding: 10px 25px;
    background-color: rgba(236, 240, 241, 0.3);
}

.pagination a:hover {
    background-color: #fff;
}

.btn-what-pre {
    border-right: 1px solid rgb(215, 223, 225);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn-what-next {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.what-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    grid-gap: 31px;
}

.what-container>div {
    display: flex;
    background-color: rgba(236, 240, 241, 0.3);
    border: 1px solid #e4e7e9;
    padding: 29px;
    cursor: pointer;
}

.circle {
    border-radius: 50%;
    border: 1px solid #cccccc;
    background-color: #cccccc;
    width: 100px;
    height: 100px;
    padding-right: 90px;
    box-shadow: inset 0 0 0 4px #ffffff;
}

.what-text {
    padding-left: 19px;
}

.what-container>div:hover {
    background-color: #ffffff;
}

.what-container>div:hover .circle {
    background-color: #2c3e50;
    border: 1px solid #ffffff;
}

.brands {
    text-align: center;
    border-top: 1px solid #eceef0;
}

.brands-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 30px 0;
    align-items: center;
    justify-items: center;
}

.maps {
    background-image: url("../img/canarias.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 20px;
}

.maps .maps-input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.maps input {
    padding: 4px 241px 3px 5px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
}

.maps-search {
    padding: 5px 18px;
    background: rgb(78, 142, 244);
    color: white;
    border: 0;
    cursor: pointer;
}

.maps-search:hover {
    background-color: rgb(5, 70, 175);
}

.map-cursor {
    color: red;
    padding-top: 200px;
}

.map-navigators {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 50px;
}

.btn-group.zoom {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
}

.btn-group button {
    background-color: #fff;
    border-color: #fff;
    border-radius: 3px;
    color: #666666;
    cursor: pointer;
    width: 30px;
    height: 40px;
}

.btn-group button:hover {
    background-color: #bdbdbd;
    color: #fff;
}

.btn-group.navi {
    padding: 10px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
}

.btn-group.navi img {
    margin: 0 10px;
}

.btn-group.navi a {
    color: #666666;
}

.maps-dummie svg {
    color: #f7bb38;
}

.design h2 {
    margin-bottom: 30px;
}

.design .container {
    grid-column-gap: 30px;
    align-items: self-end;
}

.design-container a {
    color: rgb(104, 109, 128);
    padding-right: 25px;
}

.icons {
    margin-bottom: 30px;
}

.design-container p {
    margin-bottom: 40px;
}

.design-container a:hover {
    color: #1cbc9c;
}

.contact-info {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.contact-info li {
    margin-bottom: 20px;
}

.design-form input {
    width: 100%;
    padding: 20px 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    border-color: #dee6e6;
}

.design-form input[type="textarea"] {
    height: 100px;
}

.blogs {
    border-bottom: 1px solid #fff;
}

.blogs div {
    height: 280px;
}

.blogs h5, a {
    color: #fff;
}

.blogs a {
    margin-top: 180px;
    padding: 30px 30px;
}

.blogs a:hover {
    background-color: #252937;
    color: #fff;
}

.blogs a:hover h5 {
    color: #1cbc9c;
}

.blog-column {
    display: flex;
    flex-direction: column;
}

.blog-column-lightgrey {
    background-color: #878a92;
}

.blog-column-midgrey {
    background-color: #788894;
}

.blog-column-darkgrey {
    background-color: rgb(97, 107, 119);
}

.stronger {
    background-color: #34495e;
    text-align: center;
    padding: 178px 0px;
    color: #ffffff;
}

.stronger h2 {
    margin-bottom: 25px;
    font-weight: 300;
    color: #ffffff;
}

.stronger p {
    font-size: 1.142rem;
    line-height: 14px;
    padding-bottom: 30px;
}

.stronger-btn {
    border-radius: 5px;
    border: 2px solid #ffffff;
    padding: 12px;
    color: #ffffff;
}

.stronger-btn:hover {
    color: #34495e;
    background-color: #ffffff;
}

.thefox {
    background-color: #1a1c27;
}

.thefox span {
    font-size: 0.857rem;
    color: #788894
}

.thefox-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
}

.thefox-container h5 {
    border-left: 5px solid #1abc9c;
    color: #fff;
    padding-left: 20px;
    margin-bottom: 50px;
}

.thefox-descrip p {
    padding-top: 35px;
}

.thefox-post div {
    display: flex;
    justify-content: space-between;
}

.thefox hr {
    border: 0.5px solid #262837;
    margin: 20px 0;
}

.thefox-twitter>div {
    display: grid;
    grid-template-columns: 26px 226px;
    grid-column-gap: 20px;
}

.thefox-container .svg-inline--fa.fa-w-16 {
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 4px;
    background-color: #a1b1bc;
    color: #1a1c27;
    align-content: flex-start;
}

.thefox .separation {
    grid-gap: 7px;
}

.green-cube {
    background-color: #1abc9c;
    width: 85px;
    height: 85px;
}

.green-cube:hover {
    background-color: #a1b1bc;
    cursor: pointer;
}

footer {
    background-color: #222533;
    padding: 30px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-container div span {
    color: #1abc9c;
}

.footer-container svg {
    margin-left: 17px;
}

.footer-container svg:hover {
    color: #ffffff;
    cursor: pointer;
}